{% extends 'base.html' %}

{% block content %}

<style>
    /* PROFILE AVATAR STYLES */
    .profile-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ddd;
    }

    .custom-profile-picture {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
    }

    /* PLACEHOLDER CARD STYLES */
    .placeholder-card {
        border: 1px dashed #ccc;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: #888;
    }

    /* SECTION TITLE STYLES */
    .section-title {
        margin-bottom: 1rem;
    }

    /* GENERAL CARD STYLES */
    .card {
        border: 1px solid #e9ecef;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        height: 350px;
        display: flex;
        flex-direction: column;
    }

    .card:hover {
        transform: scale(1.03);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        padding: 15px;
        min-height: 120px;
    }

    .card-title {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .card-text {
        font-size: 0.85rem;
        color: #6c757d;
    }

    /* REVIEW CARD SPECIFIC STYLES */
    .review-card {
        display: flex;
        flex-direction: column;
        overflow: hidden; 
        height: auto; 
        max-height: 350px; 
        margin-bottom: 20px; 
    }

    .review-card-body {
        padding: 15px;
    }

    .review-card p, .review-card h5 {
        margin: 0.5rem 0; 
    }

    .yellow-star {
        color: #ffd700; 
        margin-right: 0.5rem; 
    }

    .card-body {
        padding: 15px;
        min-height: 120px; 
    }

    .card-text {
        font-size: 0.85rem;
        color: #6c757d;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container mt-5">
    <div class="d-flex justify-content-center mb-4">
        <div class="profile-avatar">
            <img src="/static/images/pfp_0.jpg" alt="profile picture" class="custom-profile-picture">
        </div>
    </div>
    

    <div class="d-flex justify-content-center mb-2">
        <h2 id="display_name">{{ reader.display_name }}</h2>
    </div>
    
    <div class="d-flex justify-content-center mb-2">
        <p id="username">{{ reader.user }}</p>
    </div>
    
    <div class="d-flex justify-content-center">
        <p id="bio">{{ reader.bio }}</p>
    </div>
    
    {% if reader.user == request.user %}
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-profile-modal">Edit Profile</button>
        </div>
    {% endif %}

    <div class="container">
        <div id="librarySection" class="profile-section mt-4 text-center">
            <h2 class="section-title">Your Library</h2>
            <div class="row justify-content-center">
                {% if reader.preferences.share_library %}
                    {% if library_items %}
                        {% for item in library_items %}
                            <div class="col-md-2 mb-4">
                                <div class="card">
                                    <img src="{{ item.book.thumbnail }}" class="card-img-top" alt="Thumbnail for {{ item.book.title }}" style="max-height: 200px; max-width: 180px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.book.title }}</h5>
                                        <p class="card-text"><small class="text-muted">{{ item.book.authors }}</small></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <span class="fst-italic text-secondary-emphasis">It looks like you haven't added any books.</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div id="reviewSection" class="profile-section mt-4 text-center">
            <h2 class="section-title">Your Review</h2>
            <div class="row justify-content-center">
                {% if reader.preferences.share_reviews %}
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="col-md-4 mb-4">
                                <div class="card review-card">
                                    <p>
                                        <strong>Rating:</strong> 
                                        <span class="yellow-star">★</span> {{ review.stars_rating }}
                                    </p>
                                    <p>
                                        <strong>Review:</strong> 
                                        {{ review.review_text }}
                                    </p>
                                    <p>
                                        <strong>Date Posted:</strong> 
                                        {{ review.date_posted|date:"F d, Y" }}
                                    </p>
                                </div>                            
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-12">
                            <span class="fst-italic text-secondary-emphasis">You haven't posted any reviews yet.</span>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    
    
    

    <!-- Modal Edit Profile -->
    <div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-title-label">Edit Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="form" onsubmit="return false;">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id ="button_close" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_save" data-bs-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="user-data" data-user-id="{{ request.user.id }}"></div>

</div>

<script>

    const userDataElement = document.getElementById("user-data");
    const userId = userDataElement.getAttribute("data-user-id");

    async function getReaders() {
        return fetch("{% url 'reader:get_all_readers_json' %}").then((res) => res.json())
    }

    function editReaderModal(){
        
        function editHandle(){
            editProfile(userId);
        }

        document.getElementById("button_save").onclick = editHandle;
    }

    async function editProfile(id){
        let url = "{% url 'reader:edit_profile_ajax' '123' %}".replace('123', id);

        const response = await fetch(url, {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        });

        if(response.ok){
            refreshProfile("{{ request.user.id }}");
        }
        else{
            console.log(response)
        }
    }

    function updateSectionsVisibility(data) {
        if (data.share_reviews) {
            $('#reviewSection').show();
        } else {
            $('#reviewSection').hide();
        }
        
        if (data.share_library) {
            $('#librarySection').show();
        } else {
            $('#librarySection').hide();
        }
    }

    async function refreshProfile(id){
        const readerDetailUrl = "{% url 'reader:show_json_by_id' id=request.user.id %}"; 
        $.ajax({
            url: readerDetailUrl,
            success: function(response){
                const data = response;
                console.log(data)
                $('#username').text(data.username);
                $('input[name="username"]').val(data.username);
                $('#display_name').text(data.display_name);
                $('input[name="display_name"]').val(data.display_name);
                $('#bio').text(data.bio);
                $('textarea[id="bio"]').val(data.bio);
                const srev = data.share_reviews ? "Sharing Reviews" : "Not Sharing Reviews";
                const slib = data.share_library? "Sharing Library" : "Not Sharing Library";
                $('#shareReviewStatus').text(srev);
                $('#inputShareReviewPreference').attr('checked', data.share_reviews)
                $('#shareLibraryStatus').text(slib);
                $('#inputShareLibraryPreference').attr('checked', data.share_library);
                updateSectionsVisibility(data);
            },
            error: function(error){
                console.log("error: ", error) 
            }
        })
    }

    refreshProfile();

    document.querySelector('[data-bs-target="#edit-profile-modal"]').addEventListener('click', editReaderModal);

</script>

{% endblock content %}
