{% extends 'base.html' %}

{% block content %}

<style> 
    .custom-profile-picture {
        width: 250px;
        height: 250px;
    }

    .custom-col {
        height: 300px; 
    }

    input[readonly] {
        background-color: #e9ecef; 
        color: #495057;           
        cursor: not-allowed;    
    }


</style>

<!-- Content -->
<h1>Profile</h1>
<div class="content">
    <div class="row">

        <div class="col d-flex justify-content-center align-items-center custom-col">
            <img src="/static/images/pfp_0.jpg" alt="profile picture" class="custom-profile-picture">
        </div>
        
        <div class="col">

            <p><b>Username:</b></p>
            <p id="username">{{ reader.user }}</p>

            <p><b>Display Name:</b></p>
            <p id="display_name">{{ reader.display_name }}</p>

            <p><b>Bio:</b></p>
            <p id="bio">{{ reader.bio }}</p>

            <p><b>Share Reviews:</b></p>
            <p id="shareReviewStatus">{{ reader.preferences.share_reviews|yesno:"Sharing Reviews,Not Sharing Reviews" }}</p>


            <p><b>Share Library:</b></p>
            <p id="shareLibraryStatus">{{ reader.preferences.share_library|yesno:"Sharing Library,Not Sharing Library" }}</p>

            {% if reader.preferences.share_library %}
                <div id="librarySection">
                    <h2>My Library</h2>
                    <ul>
                    {% for item in library_items %}
                        <li>
                            <strong>Judul Buku:</strong> {{ item.book.title }}<br>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div id="librarySection" style="display:none;">
                    <h2>My Library</h2>
                    <ul></ul>
                </div>
            {% endif %}
            </ul>

            {% if reader.user == request.user %}
                <div class="rounded p-4 bg-transparent" id="product_cards_container">
                    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#edit-profile-modal">Edit Profile</button>
                    <div class="row row-cols-1 row-cols-md-3 g-4" id="product_cards"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal Edit Profile -->
<div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title-label">Edit Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="form" onsubmit="return false;">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id ="button_close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_save" data-bs-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<div id="user-data" data-user-id="{{ request.user.id }}"></div>

<script>

    const userDataElement = document.getElementById("user-data");
    const userId = userDataElement.getAttribute("data-user-id");


    async function getReaders() {
        return fetch("{% url 'reader:get_all_readers_json' %}").then((res) => res.json())
    }


    function editReaderModal(){
        
        function editHandle(){
            editProfile(userId);
        }

        document.getElementById("button_save").onclick = editHandle;
    }

    async function editProfile(id){
        let url = "{% url 'reader:edit_profile_ajax' '123' %}".replace('123', id);
        

        const response = await fetch(url, {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        });

        if(response.ok){
            refreshProfile("{{ request.user.id }}");
        }
        else{
            console.log(response)
        }
    }

    async function refreshProfile(id){
        const readerDetailUrl = "{% url 'reader:show_json_by_id' id=request.user.id %}"; 
        $.ajax({
            url: readerDetailUrl,
            success: function(response){
                const data = response;
                console.log(data)
                $('#username').text(data.username);
                $('input[name="username"]').val(data.username);
                $('#display_name').text(data.display_name);
                $('input[name="display_name"]').val(data.display_name);
                $('#bio').text(data.bio);
                $('textarea[id="bio"]').val(data.bio);
                const srev = data.share_reviews ? "Sharing Reviews" : "Not Sharing Reviews";
                const slib = data.share_library? "Sharing Library" : "Not Sharing Library";
                $('#shareReviewStatus').text(srev);
                $('#inputShareReviewPreference').attr('checked', data.share_reviews)
                $('#shareLibraryStatus').text(slib);
                $('#inputShareLibraryPreference').attr('checked', data.share_library)
            },
            error: function(error){
                console.log("error: ", error) 
            }
        })
    }


    refreshProfile();


    document.querySelector('[data-bs-target="#edit-profile-modal"]').addEventListener('click', editReaderModal);

</script>

{% endblock content %}