{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="mb-4">
        <button onclick="history.back()" class="btn btn-light d-flex justify-content-center align-items-center">
            <i class="bi bi-arrow-left my-auto fs-5 me-2"></i>Back
        </button>
    </div>
    <h1 class="mb-4">Create a New Thread</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Thread</button>
    </form>
</div>
{% endblock %}
