
<!-- temporary HTML file -->

{% extends 'base.html' %}

{% block content %}
<div id="book-id" value="{{ book.pk }}">{{ book.pk }}</div>

<button id="add-review">Add Review</button>
<button id="delete-review">Delete All Reviews</button>

<div id="reviews-container" style="width:90%"></div>

<script>
    var book_id = document.getElementById("book-id").getAttribute("value")
    
    function getReviews() {
        return fetch("{% url 'catalog:get_reviews_json' '123'%}".replace('123', book_id)).then((res) => res.json())
    }

    async function refreshReviews(){
        document.getElementById("reviews-container").innerHTML = ""

        const reviews = await getReviews();

        let htmlString = ``

        reviews.forEach((item) => {
            htmlString += `\n<div class="border border-3 m-5" style="width:100% ; text-align:left">
            <div class="book" style="width:100%">
                <div>${item.fields.review_text}</div>
                <div>${item.fields.stars_rating}</div>
            </div>
            </div>`
        })
        
        document.getElementById("reviews-container").innerHTML = htmlString
    }

    refreshReviews()

    async function addReview() {
        let url = "{% url 'catalog:add_review' '123'%}".replace('123', book_id);
        const response = await fetch(url, {
            method: "POST",
        });
        if (response.ok) {
            refreshReviews();
        }
    }

    async function deleteReviews() {
        let url = "{% url 'catalog:delete_review' '123'%}".replace('123', book_id);
        const response = await fetch(url, {
            method: "DELETE",
        });
        if (response.ok) {
            refreshReviews();
        }
    }

    document.getElementById("add-review").onclick = addReview
    document.getElementById("delete-review").onclick = deleteReviews

</script>
{% endblock content %}