{% extends 'base.html' %}

{% block content %}

<!----------------------------------------------------------------------------------------------------------->

<div class="total-books" id="total-books">
    <p>- {{books.count}} books in total -</p>
</div>

<div>
    <label for="sort-books">Sort books by:</label>
    <select name="sort-books-select" id="sort-books-select" onchange="refreshBookSorted()">
        <option value="title">Title</option>
        <option value="authors">Authors</option>
        <option value="rating">Rating</option>
        <option value="favorites_count">Favorites count</option>
    </select>
</div>

<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-book-modal" onclick="setAddBookModal()">Add Book</button>
</div>

<div class="book-container" id="book-container"></div>

<div class="modal fade" id="add-book-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title-label">Add New Book</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="isbn13" class="col-form-label">ISBN:</label>
                        <input type="number" class="form-control" id="isbn13" name="isbn13"></input>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title"></input>
                    </div>
                    <div class="mb-3">
                        <label for="authors" class="col-form-label">Authors:</label>
                        <input type="text" class="form-control" id="authors" name="authors"></input>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">Category:</label>
                        <input type="text" class="form-control" id="categories" name="categories"></input>
                    </div>
                    <div class="mb-3">
                        <label for="thumbnail" class="col-form-label">Thumbnail URL:</label>
                        <input type="text" class="form-control" id="thumbnail" name="thumbnail"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="published_year" class="col-form-label">Published year:</label>
                        <input type="number" class="form-control" id="published_year" name="published_year"></input>
                    </div>
                    <div class="mb-3">
                        <label for="page_count" class="col-form-label">Page count:</label>
                        <input type="number" class="form-control" id="page_count" name="page_count"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Book</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for deleting item -->
<div class="modal fade" id="delete-book-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Delete Book?</h1>
            </div>
            <div class="modal-body">
                <p id="confirm-message">Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="button_delete" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>


<script>
    async function getBooks() {
        return fetch("{% url 'catalog:get_book_json' %}").then((res) => res.json())
    }

    //--------------------------------------------------------------------------------------------

    function setAddBookModal(){
        document.getElementById("form").reset()
        document.getElementById("modal-title-label").innerHTML = "Add New Book";
        document.getElementById("button_add").innerHTML = "Add Book";
        document.getElementById("button_add").onclick = addBook;
    }

    function addBook() {
        fetch("{% url 'catalog:add_book_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshBook)

        document.getElementById("form").reset()
        return false
    }

    //--------------------------------------------------------------------------------------------

    function setEditBookModal(id){
        document.getElementById("modal-title-label").innerHTML = "Edit Book";
        document.getElementById("button_add").innerHTML = "Edit Book";

        //get item data from html
        const isbn13 = document.querySelector(`#isbn13-${id}`);
        const title = document.getElementById(`title-${id}`);
        const authors = document.getElementById(`authors-${id}`);
        const categories = document.getElementById(`categories-${id}`);    
        const thumbnail = document.getElementById(`thumbnail-${id}`).src;       
        const description = document.getElementById(`description-${id}`);
        const published_year = document.querySelector(`#published_year-${id}`);                 
        const page_count = document.querySelector(`#page_count-${id}`);

        document.getElementById("isbn13").value = isbn13.textContent;
        document.getElementById("title").value = title.textContent;
        document.getElementById("authors").value = authors.textContent.replaceAll(", ", ";");
        document.getElementById("categories").value = categories.textContent;
        document.getElementById("thumbnail").value = thumbnail;
        document.getElementById("description").value = description.textContent;
        document.getElementById("published_year").value = published_year.textContent;
        document.getElementById("page_count").value = page_count.textContent;

        function editHandle(){
            editBook(id);
        }

        document.getElementById("button_add").onclick = editHandle;
    }

    async function editBook(id){
        let url = "{% url 'catalog:edit_book_ajax' '123' %}".replace('123', id);
        const response = await fetch(url, {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        });

        if(response.ok){
            refreshBook();
        }
    }

    //--------------------------------------------------------------------------------------------

    function deleteConfirmModal(id){
        const title = document.getElementById(`title-${id}`).textContent;
        document.getElementById("confirm-message").innerHTML = `Are you sure you want to delete ${title}?`

        function deleteHandle(){
            deleteBook(id);
        }

        document.getElementById("button_delete").onclick = deleteHandle;
    }

    async function deleteBook(id) {
        let url = "{% url 'catalog:delete_book_ajax' '123' %}".replace('123', id);
        const response = await fetch(url, {
            method: "DELETE",
        });
        if (response.ok) {
            refreshBook();
        }
    }

    //--------------------------------------------------------------------------------------------

    async function sortBooks(byKey){
        let sortedBooks;

        var books = await getBooks();

        if(byKey == 'title'){
            sortedBooks = books.sort(function(a,b){
                    let x = a.fields.title.toLowerCase();
                    let y = b.fields.title.toLowerCase();

                    //compare title
                    if(x>y){return 1;} 
                    if(x<y){return -1;}
                    return 0;
                    });
        }
        else if(byKey == 'authors'){
            sortedBooks = books.sort(function(a,b){
                    let x = a.fields.authors.toLowerCase();
                    let y = b.fields.authors.toLowerCase();

                    //compare authors
                    if(x>y){return 1;} 
                    if(x<y){return -1;}
                    return 0;
                    });
        }
        else if(byKey == 'rating'){
            sortedBooks = books.sort(function(a,b){
                    return a.fields.overall_rating - b.fields.overall_rating;
                    });
        }
        else if(byKey == 'favorites_count'){
            sortedBooks = books.sort(function(a,b){
                    return a.fields.favorites_count - b.fields.favorites_count;
                    });
        }

        return sortedBooks;
    }

    async function refreshBookSorted(){
        document.getElementById("book-container").innerHTML = ""
        document.getElementById("total-books").innerHTML = ""

        const sortBy = document.querySelector('#sort-books-select').value;
        const books = await sortBooks(sortBy);
        const books_count = books.length;
        let htmlString = ``
        books.forEach((item) => {
            let authors = item.fields.authors.replaceAll(";", ", ")

            htmlString += `\n<div class="border border-3 mt-5 mb-5 p-5">
            <div class="book">
                <div class="book-content">
                    <div class="mb-3">
                        <div id="title-${item.pk}"><h2>${item.fields.title}</h2></div>
                    </div>
                    <div class="mb-3">
                        <div id="authors-${item.pk}"><h3>${authors}</h3></div>
                    </div>
                    <div class="mb-3">
                        <img id="thumbnail-${item.pk}" src="${item.fields.thumbnail}"></img>
                    </div>
                    <div class="mb-3">
                        <div class="mb-1">ISBN:</div>
                        <div id="isbn13-${item.pk}"><p>${item.fields.isbn13}</p></div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-1">Category:</div>
                        <div id="categories-${item.pk}"><p>${item.fields.categories}</p></div>
                    </div
                    <div class="mb-3">
                        <div class="mb-1">Published year:</div>
                        <div id="published_year-${item.pk}"><p>${item.fields.published_year}</p></div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-1">Page count:</div>
                        <div id="page_count-${item.pk}"><p>${item.fields.page_count}</p></div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-1">Overall rating:</div>
                        <div id="overall_rating-${item.pk}"><p>${item.fields.overall_rating}/5</p></div>
                    </div>
                    <div class="mb-3">
                        <div id="favorite_count-${item.pk}"><p>${item.fields.favorites_count} people added this book to their favorite.</p></div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-1">Description:</div><br>
                        <div id="description-${item.pk}"><p>${item.fields.description}</p></div>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-book-modal" onclick="setEditBookModal(${item.pk})">Edit Book</button>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete-book-modal" onclick="deleteConfirmModal(${item.pk})">Delete Book</button>
                    </div>
                </div>
            </div>
            </div>`
        })
        
        document.getElementById("book-container").innerHTML = htmlString
        document.getElementById("total-books").innerHTML = `<p>- ${books_count} books in total -</p>`
    }

    refreshBookSorted();

</script>

{% endblock content %}