{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Review List</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Star Rating Plugin -->
    <link rel="stylesheet" href="path/to/star-rating.css" />
    <script src="path/to/star-rating.js"></script>
</head>
<body>
    <h1>Review for Book: {{ book_title }}</h1>

    <button id="show-my-reviews">Show My Reviews</button>

    <!-- Daftar review -->
    <div id="review-list">
        {% for review in reviews %}
        <div class="review {% if review.user != request.user %}hidden{% endif %}">
            <h3>{{ review.user }}</h3>
            <p>{{ review.review_text }}</p>
            <p>Rating: {{ review.stars_rating }}</p>
            <p>Date: {{ review.date_posted }}</p>
        </div>
        {% endfor %}
    </div>

    <script>
        $(document).ready(function() {
            // Hanya menampilkan review milik pengguna saat tombol diklik
            $("#show-my-reviews").click(function() {
                $(".review").addClass("hidden");
                $(".review:has(h3:contains('{{ request.user }}'))").removeClass("hidden");
            });

        $("#star-rating").rating({
        'size':'xs',
        'showClear': false,
        'showCaption': false,
        'step': 0.5
      });
     });
    </script>
</body>
</html>