{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Review List</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.2/css/all.min.css">
</head>
<body>
    <h1>Latest Reviews</h1>
    <!-- Daftar review -->
    <div id="review-list">
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ review.book.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ review.user }}</h6>
                <p class="card-text">{{ review.review_text }}</p>
                <div class="star-rating">
                    {% for i in "0 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5" %}
                        {% if i <= review.stars_rating %}
                            <i class="fas fa-star"></i>
                        {% else %}
                            <i class="far fa-star"></i>
                        {% endif %}
                    {% endfor %}
                </div>                
                <p class="card-text">Rating: {{ review.stars_rating }}</p>
                <p class="card-text">Date: {{ review.date_posted }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>

{% endblock %}

